<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Hatena Co., Ltd.</string>
	<key>CFBundleDisplayName</key>
	<string>はてなブックマーク Safari 拡張</string>
	<key>CFBundleIdentifier</key>
	<string>jp.ne.hatena.b</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>104857600</real>
		<key>Global Page</key>
		<string>background/global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>bookmarkButtonClicked</string>
				<key>Identifier</key>
				<string>bookmark-button</string>
				<key>Image</key>
				<string>images/logo16.png</string>
				<key>Label</key>
				<string>はてなブックマーク</string>
				<key>Palette Label</key>
				<string>はてなブックマークを操作</string>
				<key>Tool Tip</key>
				<string>操作します</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>content/popup_manager.js</string>
				<string>content/widget_embedder.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>lib/Connect.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>はてなブックマークを Safari でより便利に使える、はてな公式の拡張です。</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://b.hatena.ne.jp/</string>
</dict>
</plist>
