<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>ブックマークカウンター</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>background.bookmarkcounter.enabled</string>
		<key>Title</key>
		<string>ツールバーボタンにブックマーク数を表示</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>

	<dict>
		<key>Title</key>
		<string>ポップアップウィンドウ</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>popup.tags.recommendTags.enabled</string>
		<key>Title</key>
		<string>ブックマークに追加するとき、おすすめタグ一覧を表示</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>popup.tags.allTags.enabled</string>
		<key>Title</key>
		<string>ブックマークに追加するとき、自分のタグ一覧を表示</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>15</real>
		<key>Key</key>
		<string>popup.commentviewer.autodetect.threshold</string>
		<key>Title</key>
		<string>コメントビューワー</string>
		<key>Titles</key>
		<array>
			<string>すべてのユーザーを表示</string>
			<string>コメントのあるユーザーのみ表示</string>
			<string>15 件以下ならすべてのユーザーを表示</string>
			<string>25 件以下ならすべてのユーザーを表示</string>
			<string>50 件以下ならすべてのユーザーを表示</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>9999999</real>
			<real>1</real>
			<real>15</real>
			<real>25</real>
			<real>50</real>
		</array>
	</dict>

	<dict>
		<key>Title</key>
		<string>Web ページ</string>
		<key>Type</key>
		<string>Group</string>
	</dict>


	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>content.webinfo.enabled</string>
		<key>Title</key>
		<string>検索結果やブログ記事にブックマーク数を表示</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>content.fans.enabled</string>
		<key>Title</key>
		<string>ブックマークしているお気に入りユーザーを表示</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>


	<dict>
		<key>Title</key>
		<string>キーボードショートカット</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>b</string>
		<key>Key</key>
		<string>shortcut.addBookmark.key</string>
		<key>Title</key>
		<string>ブックマークに追加</string>
		<key>Titles</key>
		<array>
			<string>(なし)</string>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>disabled</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>shortcut.addBookmark.ctrl</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>^ Ctrl</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>shortcut.addBookmark.shift</string>
		<key>Title</key>
		<string>&#x21E7; Shift</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>shortcut.addBookmark.alt</string>
		<key>Title</key>
		<string>&#x2325; Option / Alt</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>shortcut.addBookmark.meta</string>
		<key>Title</key>
		<string>&#x2318; Command</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>c</string>
		<key>Key</key>
		<string>shortcut.showComment.key</string>
		<key>Title</key>
		<string>コメントビューワー</string>
		<key>Titles</key>
		<array>
			<string>(なし)</string>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>disabled</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>shortcut.showComment.ctrl</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>^ Ctrl</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>shortcut.showComment.shift</string>
		<key>Title</key>
		<string>&#x21E7; Shift</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>shortcut.showComment.alt</string>
		<key>Title</key>
		<string>&#x2325; Option / Alt</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>shortcut.showComment.meta</string>
		<key>Title</key>
		<string>&#x2318; Command</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
