<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>全体サイズ</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>550</real>
		<key>Key</key>
		<string>popup.window.width</string>
		<key>MaximumValue</key>
		<real>2000</real>
		<key>MinimumValue</key>
		<real>300</real>
		<key>Title</key>
		<string>横幅</string>
		<key>Titles</key>
		<array>
			<string>550px</string>
			<string>640px</string>
			<string>960px</string>
			<string>1280px</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>550</real>
			<real>640</real>
			<real>960</real>
			<real>1280</real>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>コメントビューワー</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>15</real>
		<key>Key</key>
		<string>popup.commentviewer.autodetect.threshold</string>
		<key>Title</key>
		<string>コメントの表示</string>
		<key>Titles</key>
		<array>
			<string>表示・非表示を手動で切り替え</string>
			<string>15件以下ならすべて表示</string>
			<string>25件以下ならすべて表示</string>
			<string>50件以下ならすべて表示</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>-1</real>
			<real>15</real>
			<real>25</real>
			<real>50</real>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>検索</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>200</real>
		<key>Key</key>
		<string>popup.search.result.threshold</string>
		<key>Title</key>
		<string>最大検索件数</string>
		<key>Titles</key>
		<array>
			<string>100件</string>
			<string>200件</string>
			<string>300件</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>100</real>
			<real>200</real>
			<real>300</real>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>タグ</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>popup.tags.allTags.enabled</string>
		<key>Title</key>
		<string>タグを表示する</string>
		<key>Titles</key>
		<array>
			<string>タグを表示する</string>
			<string>タグを表示しない</string>
		</array>
		<key>Type</key>
		<string>CheckBox</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>0.0</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>popup.tags.recommendTags.enabled</string>
		<key>Title</key>
		<string>おすすめタグを表示する</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>popup.tags.complete.enabled</string>
		<key>Title</key>
		<string>タグ補完機能を利用する</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>ブックマークカウンター</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>content.webinfo.enabled</string>
		<key>Title</key>
		<string>Webページ内にはてなブックマークの情報を表示する</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>background.bookmarkcounter.enabled</string>
		<key>Title</key>
		<string>ツールバーにブクマカウンタを表示する</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>コンテキストメニュー</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>contextmenu.enabled</string>
		<key>Title</key>
		<string>コンテキストメニューを利用する</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>右下</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>content.bookmarkcounter.enabled</string>
		<key>Title</key>
		<string>ページの右下にブクマカウンタを表示する</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>content.fans.enabled</string>
		<key>Title</key>
		<string>ページの右下にお気に入りユーザーを表示する</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>キーボードショートカット</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>b</string>
		<key>Key</key>
		<string>keyboard.addBookmark.key</string>
		<key>Title</key>
		<string>ブックマーク追加</string>
		<key>Titles</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>shortcut.addBookmark.ctrl</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Ctrl</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>shortcut.addBookmark.shift</string>
		<key>Title</key>
		<string>Shift</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>shortcut.addBookmark.alt</string>
		<key>Title</key>
		<string>Alt / Option</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>shortcut.addBookmark.command</string>
		<key>Title</key>
		<string>Command</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>c</string>
		<key>Key</key>
		<string>keyboard.showComment.key</string>
		<key>Title</key>
		<string>コメント表示</string>
		<key>Titles</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>shortcut.showComment.ctrl</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Ctrl</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>shortcut.showComment.shift</string>
		<key>Title</key>
		<string>Shift</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>shortcut.showComment.alt</string>
		<key>Title</key>
		<string>Alt / Option</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>shortcut.showComment.command</string>
		<key>Title</key>
		<string>Command</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
